<!DOCTYPE html>
<html>
  <head>
    <title>kakao enterprise subject</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta charset="utf-8" />
  </head>
  <body>
 		<h1>kakao enterprise subject</h1>
 		<br>
 		<br>
 		<a href="<%= link %>"><button>로그인</button></a>
 		<br>
  </body>
</html>