<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>log view</title>
    </head>
<body>
    <h1>log view</h1>
    <br>
    <form method="post" action="/log/search">
        <table>
            <tr>
                <td><input type="text" placeholder="검색할 내용" name="search_content" /></td>
                <td><input type="submit" value="로그 검색" name=""/></td>
            </tr>
        </table>
    </form>
    <br>
			<% if (logs != null) {%>
				<% for(var i = 0; i < logs.length; i++) { %>
						<li><%=JSON.stringify(logs[i])%></li>
				<% } %>
    	<%}%>   
    <br>
    <br>
    <a href='/'>back to login page</a>
</body>
</html>